# Bot misc
token: 
main-guild:

# Db settings
database-type:  # Set to SQLite3 or MySQL

mysql-host:
mysql-username:
mysql-password:

mysql-database: 
dewey-sqlite-path: 

file-saving:  # Set to WebDAV or Local
webdav-url:  # WebDAV url to save things to
webdav-username: 
webdav-password: 

# Gacha settings
gacha-enabled: 
imageurl: # URL where uploaded images are saved 
image-save-path: # where image should go
roll-timeout:  # seconds
gacha-reminder-task: 

# gfad
kfad-enabled: 
kfad-must-have:  # messages
kfad-role: 
kfad-auto: 

# obs integration
obs-integration-enabled: 
obs-integration-secret: 
obs-integration-port: 
obs-integration-host: # Should be an ip (0.0.0.0 for all interfaces)
obs-integration-post-host:  # Should be like "proto://host:port" (no trailing slash) 

# others
deweycoins-enabled: 
suggestions-enabled: 
nick-enabled: 
gif-enabled: 
reminders-enabled: 
grok-responses: 
warf-reactions: 
honeypot: 
honeypot-ban-role:  # ID


emoji-dewey: "" # Emoji that you would type <:Name:ID>
emoji-warf:   # Emoji ID