# Bot misc
token: 
error-channel: # channel to log errors to
main-guild:

banned-role: # optional
permission-override: [] # optional
                        # format of [["member", id], ["role", id]]

# Db settings
gacha-sqlite-path:
deweycoins-sqlite-path: 
reminders-sqlite-path: 

# Gacha settings
gacha_enabled: 
review: ["",] # [type, id] Set type to "channel" or "dm" and id to a channel id or user id 
imageurl: # URL where uploaded images are saved 
image-save-path: # where image should go
roll-timeout:  # seconds
gacha-reminder-task:

# suggestions
suggestions_enabled: 
suggestions-channel: # suggestions channel

# deweycoins
deweycoins-enabled: 

# gfad
kfad-enabled: 
kfad-disallowed-roles: []
kfad-must-have:  # messages
kfad-role: 
kfad-channels: []
kfad-god-channel:  

# obs integration
obs-integration-enabled: 
obs-integration-secret: 
obs-integration-port: 
obs-integration-host: # Should be an ip (0.0.0.0 for all interfaces)
obs-integration-post-host:  # Should be like "proto://host:port" (no trailing slash) 

# others
nick-enabled: 
gif-enabled: 
reminders-enabled: 
